[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[dev-packages]

[packages]
scikit-learn="*"
tensorflow = "==2.3.0"
pillow = "*"
tensorflow-addons = "==0.11.2"
pydot = "*"
tqdm = "*"
matplotlib = "*"
parameterized = "*"
dragonfly-opt = "==0.1.5"
cython = "*"
POT = "*"
ray = "*"
spektral = "*"
torch = {version = "==1.9.0+cu102", index = "downloadpytorch"}
torchvision = {version = "==0.10.0+cu102", index = "downloadpytorch"}
torchaudio = {version = "==0.9.0", index = "downloadpytorch"}
tf2onnx = "*"
onnx2torch = "*"

[requires]
python_version = "3.7"
